/* App.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
  width: 300px;
  background-color: #1b2836;
  padding: 20px;
  color: white;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  flex: 1;
  padding: 20px;
}

.post-form {
  margin-bottom: 20px;
}

.post {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 16px;
  margin-bottom: 16px;
}

.posts {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

button:active,
button:focus {
  outline: none;
}

/* Like button ranglari */
button.like {
  color: #657786;
}

button.like.active {
  color: #e0245e;
}

/* Retweet button ranglari */
button.retweet {
  color: #657786;
}

button.retweet.active {
  color: #17bf63;
}
